service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class core
    user root
    group root
    oneshot

# Audio
on property:ro.vendor.xiaomi.device=pine
    setprop vendor.audio.mixer_xml.path /vendor/etc/pine_mixer_paths_sdm439_pm8953.xml

on property:ro.vendor.xiaomi.device=olive
    setprop vendor.audio.mixer_xml.path /vendor/etc/olive_mixer_paths_sdm439_pm8953.xml

# FM
on property:hw.fm.init=*
    write /sys/class/fm/fm_lan_enable/lan_enable ${hw.fm.init}

on property:vendor.hw.fm.ant.enable=*
    write /sys/class/fm/fm_lan_enable/lan_enable ${vendor.hw.fm.ant.enable}

# IR
on boot
    chown system system /dev/ir_spi
    chown system system /dev/lirc0

# LiveDisplay
on boot
    chown root root /sys/devices/virtual/graphics/fb0/reading_mode
    chmod 0000 /sys/devices/virtual/graphics/fb0/reading_mode

# Sensors
service vendor.sensors.qti /non-existent
    override
    class core
    user system
    group system
    disabled

service vendor.sensors.qti.pine /vendor/bin/sensors.qti.pine
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
    disabled

service vendor.sensors.qti.olive /vendor/bin/sensors.qti.olive
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:ro.vendor.xiaomi.device=pine
    enable vendor.sensors.qti.pine

on property:ro.vendor.xiaomi.device=olive
    enable vendor.sensors.qti.olive

# Thermal
service thermal-engine /vendor/bin/thermal-engine-olive
    override
    class main
    user root
    group root
    socket thermal-send-client stream 0660 system oem_2907
    socket thermal-recv-client stream 0660 system oem_2907
    socket thermal-recv-passive-client stream 0660 system oem_2907
    socket thermal-send-rule stream 0660 system oem_2907
